<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content"> 
			
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">상품관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">상품조회</li>
							<li class="breadcrumb-item active" aria-current="page">상품수정</li>
						</ol>
					</div>
					<form class="row" action="/product/modify" method="post" encType="multipart/form-data" onsubmit="return check()">
						<div class="col-lg-3">
							<div class="card mb-4">
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">상품 이미지</h6>
								</div>
								<div class="card-body">
									<div class="form-group" id="productImgArea" th:align="center">
										<img th:if="${productImage != null}" th:src="|@{/upload/productImage/thumbnail}${productImage.thumbnailPath}|" width="250" height="300" id="productImg" name="productImg" class="mx-3">
										<input type="file" class="mx-3 col-xl-6" id="productThumbNail" name="productThumbNail" onchange="loadImg(this,1)">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="card mb-4">
								<br>
								<h3 th:align="center">상품정보</h3>
								<div class="row">
									<div class="form-group col-lg-6 row">
										<label for="refCategoryName" class="col-sm-3 col-form-label" th:align="center">카테고리 (중)</label>
										<select class="form-control col-sm-9" id="refCategoryCode" name="refCategoryCode" onchange="categoryBox(this.value)">
											<option th:each="refCategory : ${refCategoryList}" th:text="${refCategory.refCategoryName}" 
													th:selected="${productDetail.category.refCategoryName == refCategory.refCategoryName}" th:value="${refCategory.refCategoryCode}">
											</option>
										</select>
									<th:block>
									</div>
									<div class="form-group col-lg-6 row">
										<label for="categoryName" class="col-sm-3 col-form-label" th:align="center">카테고리 (소)</label>
										<select class="form-control col-sm-9" id="categoryCode" name="categoryCode" required>
											<option th:each="category : ${categoryList}" th:if="${productDetail.category.categoryName == category.categoryName}" th:text="${category.categoryName}" 
													th:selected="${productDetail.category.categoryName == category.categoryName}" th:value="${category.categoryCode}">
											</option>
										</select>
									</div>
								</div>
								
								<div class="row">
                     				<div class="form-group col-lg-6 row">
										<label for="manufacturerName" class="col-sm-3 col-form-label" th:align="center">제조사</label>
										<select class="form-control col-sm-9" id="manufactuerNo" name="manufacturerNo" required>
											<option th:each="productManufacturer : ${manufacturerList}" th:text="${productManufacturer.manufacturerName}" 
													th:selected="${productDetail.manufacturer.manufacturerName == productManufacturer.manufacturerName}" th:value="${productManufacturer.manufacturerNo}">
											</option>
										</select>
									</div>
									<div class="form-group col-lg-6 row">
										<label for="manufacturerName" class="col-sm-3 col-form-label" th:align="center">거래처</label>
										<select class="form-control col-sm-9" id="accountNo" name="accountNo" required>
											<option th:each="productAccount : ${accountList}" th:text="${productAccount.companyName}" 
													th:selected="${productDetail.account.companyName == productAccount.companyName}" th:value="${productAccount.accountNo}">
											</option>
										</select>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col-lg-6 row">
										<label for="productNo" class="col-sm-3 col-form-label" th:align="center">상품번호</label>
										<input type="text" class="form-control col-sm-9" th:value="${productDetail.productNo}" 
												id="productNo" name="productNo" readonly>
									</div>
									<div class="form-group col-lg-6 row">
										<label for="productName" class="col-sm-3 col-form-label" th:align="center">상품명</label>
										<input type="text" class="form-control col-sm-9" th:value="${productDetail.productName}" 
												id="productName" name="productName" required>
									</div>
									
								</div>
								<div class="row">
									<div class="form-group col-lg-6 row">
										<label for="purchasePrice" class="col-sm-3 col-form-label" th:align="center">원가</label>
										<input type="number" class="form-control col-sm-9" th:value="${productDetail.purchasePrice}" 
												id="purchasePrice" name="purchasePrice" min=1 required>
									</div>	
									<div class="form-group col-lg-6 row">
										<label for="sellingPrice" class="col-sm-3 col-form-label" th:align="center">판매가</label>
										<input type="number" class="form-control col-sm-9" th:value="${productDetail.sellingPrice}" 
												id="sellingPrice" name="sellingPrice" min=1 required>
									</div>	
								</div>
								<div class="row">
									<div class="form-group col-lg-6 row">
										<label for="productNo" class="col-sm-3 col-form-label" th:align="center">판매상태</label>
										<select class="form-control col-sm-9" id="sellStatus" name="sellStatus">
											<option th:selected="${productDetail.sellStatus}=='판매'" th:value="판매">판매</option>
											<option th:selected="${productDetail.sellStatus}=='미판매'" th:value="미판매">미판매</option>
										</select>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col-lg-12 mt-3" th:align="center">
										<button type="submit" class="btn btn-primary mb-1 mx-3" id="modifyBtn">상품수정</button>
	                  					<button type="button" class="btn btn-outline-danger mb-1 mx-3" id="backBtn" onclick="goBack()">뒤로가기</button>
                  					</div>
								</div>
							</div>
						</div>
					</form> 
				</div>
			</div>
		</div>
	</div>
	
	<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
	<script>

		/* 이미지 선택 */
		function loadImg(value) {
			if(value.files && value.files[0]) {
				const reader = new FileReader();
				reader.onload = function(e) {
					document.getElementById("productImg").src = e.target.result;
				}
				reader.readAsDataURL(value.files[0]);
			}
		}

		
		/* 확인 버튼 */
		function check() {
			if(!confirm("상품을 수정하시겠습니까?")) {
			 	return false;
			} 
		}
		
		/* 뒤로가기 버튼 */
		function goBack() {
			window.history.back();
		}
		
		function categoryBox(refCategoryCode) {
							
			console.log(refCategoryCode);
			
			$.ajax({
				url: "/product/selectCategoryCode",
				data: {"refCategoryCode" : refCategoryCode},
				success: function(data, status, xhr) {

					const $select = $("#categoryCode");
					$select.html("")
					
					for(let index in data) {
						$('select').removeAttr('disabled');
						
						$select.append("<option value='" + data[index].categoryCode + "'>" + data[index].categoryName + "</option>");
					}
					
				},
				
				error: function(xhr, status, error) {
					console.log(error)
				}
			});
		}
	</script>

</body>
</html>