<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="row">
						<div class="col-lg-6">
							<div class="card mb-4">
								<h5 class="m-0 font-weight-bold text-primary mt-3" align="center">내 실적 현황</h5>
								<canvas class="mx-3 my-3" id="empPerformanceChart"></canvas>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="card mb-4">
								<h5 class="m-0 font-weight-bold text-primary mt-3" align="center">부서 실적 현황</h5>
								<canvas class="mx-3 my-3" id="deptPerformanceChart"></canvas>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-6">
							<div class="card mb-4">
								<h5 class="m-0 font-weight-bold text-primary mt-3" align="center">영업기회 현황</h5>
								<canvas class="mx-3 my-3" id="businessChanceChart"></canvas>
							</div>	
						</div>
						<div class="col-lg-6">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h5 class="m-0 font-weight-bold text-primary mt-3" align="center">이번 달 실적 현황</h5>
								</div>
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="dataTableHover">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>상품번호</th>
												<th>상품명</th>
												<th>수금현황</th>
											</tr>
										</thead>
										<tbody th:align="center">
											<tr th:each = "productSales : ${productSalesThisMonth}" >
												<td th:text = "${productSales.purchaseOrder.productList[0].productNo}"></td>
												<td th:text = "${productSales.purchaseOrder.productList[0].productName}"></td>
												<td th:text = "|${#numbers.formatInteger(productSales.collect.collectBillAmount, 0, 'COMMA')}원|"></td>
											</tr>
										</tbody>
									</table>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>

	<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
	<script th:src="@{/js/demo/chart-bar-demo.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<script>
	
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
	
		
		/* 사원 실적조회 및 사원 목표 실적 조회 차트*/
		$(document).ready(function () {
			const ctx1 = document.getElementById('empPerformanceChart');
			
			$.ajax({
				url:"/dashboard/emp/sales/selectAll",
				type: 'GET',
				success: function(data, status, xhr) {
					
					const userSales = JSON.parse(data.userSalesChart);
					const userTargetSales = JSON.parse(data.userTargetSalesChart);
					
					var config = {
							
						type: 'line',
						data: {
								labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
								datasets: [{
									label: '내 실적',
									data: [userSales[0], 
											userSales[1], 
											userSales[2], 
											userSales[3], 
											userSales[4], 
											userSales[5], 
											userSales[6], 
											userSales[7],
											userSales[8],
											userSales[9],
											userSales[10],
											userSales[11],
										   ],
									backgroundColor: ['rgba(54, 162, 235, 0.2)'],
									borderColor: ['rgba(54, 162, 235, 1)'],
									borderWidth: 1,
								
								}, {									   
									
									label: '내 목표 실적',
									data: [userTargetSales[0], 
											userTargetSales[1], 
											userTargetSales[2], 
											userTargetSales[3], 
											userTargetSales[4], 
											userTargetSales[5], 
											userTargetSales[6], 
											userTargetSales[7],
											userTargetSales[8],
											userTargetSales[9],
											userTargetSales[10],
											userTargetSales[11],
										   ],
									backgroundColor: ['rgba(255, 99, 132, 0.2)'],
									borderColor: ['rgba(255, 99, 132, 1)'],
								    borderWidth: 1
								}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					};

					var empPerformanceChart = new Chart(ctx1, config);
				},

				error: function(xhr, status, error) {
					console.log(error);
				}
			
			});
			
		
// 		/* 부서 실적 조회 차트 */
			const ctx2 = document.getElementById('deptPerformanceChart');
			
			$.ajax({
				url:"/dashboard/dept/sales/selectAll",
				type: 'GET',
				success: function(data, status, xhr) {
					
					const deptSales = JSON.parse(data.deptSalesChart);
					
					var config = {
							
						type: 'bar',
						data: {
							labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
							datasets: [{
								label: '부서 실적',
								data: [deptSales[0], 
										deptSales[1], 
										deptSales[2], 
										deptSales[3], 
										deptSales[4], 
										deptSales[5], 
										deptSales[6], 
										deptSales[7],
										deptSales[8],
										deptSales[9],
										deptSales[10],
										deptSales[11]
									   ], 
								backgroundColor: ['rgba(255, 99, 132, 0.2)'],
								borderColor: ['rgba(255, 99, 132, 1)'],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					};
						
					var deptPerformanceChart = new Chart(ctx2, config);
				},

				error: function(xhr, status, error) {
					console.log(error);
				}
			
			});
		
			/* 영업기회 현황 조회 */
			const ctx3 = document.getElementById('businessChanceChart');
			
			$.ajax({
				url:"/dashboard/businessChance",
				type: 'GET',
				success: function(data, status, xhr) {
					
					const failedBusinessChance = JSON.parse(data.failedBusinessChanceChart);
					const successBusinessChance = JSON.parse(data.successBusinessChanceChart);
					
					var config = {
							
						type: 'line',
						data: {
							labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
							datasets: [{
								label: '실패한 영업기회',
								data: [failedBusinessChance[0], 
										failedBusinessChance[1], 
										failedBusinessChance[2], 
										failedBusinessChance[3], 
										failedBusinessChance[4], 
										failedBusinessChance[5], 
										failedBusinessChance[6], 
										failedBusinessChance[7], 
										failedBusinessChance[8], 
										failedBusinessChance[9], 
										failedBusinessChance[10], 
										failedBusinessChance[11]
									   ], 
								backgroundColor: ['rgba(255, 99, 132, 0.2)'],
								borderColor: ['rgba(255, 99, 132, 1)'],
								borderWidth: 1,
								
							}, {
								label: '성공한 영업기회',
								data: [successBusinessChance[0], 
										successBusinessChance[1], 
										successBusinessChance[2], 
										successBusinessChance[3], 
										successBusinessChance[4], 
										successBusinessChance[5], 
										successBusinessChance[6], 
										successBusinessChance[7], 
										successBusinessChance[8], 
										successBusinessChance[9], 
										successBusinessChance[10], 
										successBusinessChance[11]
									   ], 
							    backgroundColor: ['rgba(153, 102, 255, 0.2)'],
								borderColor: [ 'rgba(153, 102, 255, 1)'],
								borderWidth: 1,
							}]
					
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					};
					
					var failedBusinessChanceChart = new Chart(ctx3, config);
				},

				error: function(xhr, status, error) {
					console.log(error);
				}
			
			});
			
		});
		</script>
		
</body>
</html>